<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>


    <!-- Start CSS-->
    <environment include="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/materialize.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<body>



    <!-- Start NAV-->
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a asp-page="/Index" class="navbar-brand">WebApplication1</a>





            <!-- Start NAV DESK-->
            <ul class="right hide-on-med-and-down">
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/About">About</a></li>
                <li><a asp-page="/Contact">Contact</a></li>
            </ul>





            <!-- Start NAV MOBILE-->
            <ul id="nav-mobile" class="sidenav">
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/About">About</a></li>
                <li><a asp-page="/Contact">Contact</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>







    <!-- Start Body-->
 
    <div class="container">
        <div class="section">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>







    <!-- Start Footer-->
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - UDS - Application</p>
            </div>
        </div>
    </footer>








    <!-- Start js-->
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/materialize.min.js" asp-append-version="true"></script>
        <script src="~/js/init.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)



</body>
</html>